build/
dist/
man/
tests/__pycache__/
tests/test_console/__pycache__/
tests/test_core/__pycache__/
veld.egg-info
veld/__pycache__/
veld/console/__pycache__/
veld/console/commands/__pycache__/
veld/core/__pycache__/
